body {
  margin: 0;

  background-color: rgb(230, 213, 213);

  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-size: cover;
  min-height: 25vh;
  height: 60px;
  padding: 10px 15px;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(210, 203, 203, 0.936); 
    z-index: 1000; 
  }
  

.header .navbar {
  background-color: transparent !important;
  position: fixed;
}

.header .navbar-brand .logo {
  width: 50px; 
  height: auto; 
}
.logo{
  width: 150px;
  height: auto;
}
.img-carousel {
  max-height: 100vh;

}